<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title></title>
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900" rel="stylesheet" />
	<link href="\stylesheets\default.css" rel="stylesheet" type="text/css" media="all" />
	<link href="\stylesheets\fonts.css" rel="stylesheet" type="text/css" media="all" />
	<link href="\stylesheets\admin.css" rel="stylesheet" type="text/css" />
</head>

<body>
	<div id="header-wrapper">
		<div id="header" class="container">
			<div id="logo">
				<h1><a href="/admin">직원 관리 시스템</a></h1>
				<span>By CENEMA</span>
			</div>
		</div>
	</div>
	<div id="Login">
		<form id="Login-form" method="post" action='/admin'>
			<label for="id">ID </label>
			<input id="id" type="text" name="employee_name" value="manager" />
			<label for="id">Password </label>
			<input id="password" name="password" type="password" />
			<input type="submit" value="LOG IN" />
		</form>
	</div>
	<div id="banner-wrapper"></div>
</body>

</html>