<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/index.css' />
    <link rel='stylesheet' href='/stylesheets/home.css' />
  </head>
  <body>
  		<div id="Nav">
  			<h1 id="logo">Cinema</h1>
  			<div id="login">
  				<img src="" />
  				<h4 id="user_name">user_name</h4>
  			</div>
  			<div id="menu_icon">
  				<h4>menu</h4>
  			</div>
  		</div>
  		<div id="Content">
  			<h2>content</h2>
  			<div id="movie-chart">
  				<div class="movie selected">
  					<h3 class="movie_name">movie_name</h3>
  				</div>
  				<div class="movie">
  					<h3 class="movie_name">movie_name2</h3>
  				</div>
  				<div class="movie">
  					<h3 class="movie_name">movie_name3</h3>
  				</div>
  				<div class="movie">
  					<h3 class="movie_name">movie_name4</h3>
  				</div>
  				<div class="movie">
  					<h3 class="movie_name">movie_name5</h3>
  				</div>
  			</div>
  			<div id="cinema">
  				
  			</div>
  		</div>
		<div id="menu" class="hidden">
			<h2>예매내역</h2>
			<h2>쿠폰</h2>
			<h2>건의</h2>
		</div>
  		<script type="text/javascript" src="/javascripts/index.js"></script>
  		<script type="text/javascript" src="/javascripts/home.js"></script>
  </body>
</html>
