<!DOCTYPE html>
<html>
  <head>
    <title> title </title>
    <link rel='stylesheet' href='/stylesheets/index.css' />
    <link rel='stylesheet' href='/stylesheets/home.css' />
  </head>

  <body>
    <script type="text/javascript">
       console.log(<%- JSON.stringify(logined) %>);
       let movie = <%- JSON.stringify(movie) %>;
       let movie_selected = <%- JSON.stringify(movie_selected) %>;
    </script>
    <script type="text/javascript" src="/javascripts/ajax.js"></script>
    
    <% include nav %>

      <div id="Content-background">
        <div id="Content-background-img">
          <p>.</p>
        </div>
      </div>
      
  		<div id="Content">
        <ul id="movie-filter">
          <li>Screening</li>
          <li>pre-release</li>
        </ul>
  			<div id="Movie-chart">
          <div id="more"></div>
  			</div>
  			
        <div id="Cinema">
          <h4 id="goReservation">Reservation</h4>
  			</div>

  		</div>

      <% include menu %>

  <svg version="1.1" id="레이어_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
   y="0px" width="0px" height="0px" viewBox="0 0 0 0" enable-background="new 0 0 0 0" xml:space="preserve">
    <clipPath id="star_cllip">
      <path d="M8.102,9.728L5.03,8.112L1.958,9.728l0.587-3.42L0.059,3.884l3.435-0.499L5.03,0.272l1.537,3.113L10,3.884
        L7.516,6.308L8.102,9.728z"/>
    </clipPath>
  </svg>


  		<script type="text/javascript" src="/javascripts/index.js"></script>
  		<script type="text/javascript" src="/javascripts/home.js"></script>
  </body>
</html>
