<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900" rel="stylesheet" />
<link href="/stylesheets/default.css" rel="stylesheet" type="text/css" media="all" />
<link href="/stylesheets/fonts.css" rel="stylesheet" type="text/css" media="all" />

<style type="text/css"> /* 위 아랫 표 동시 적용 */

.tg  {border-collapse:collapse;border-spacing:0;border-color:#93a1a1;}
.tg td{font-family:Arial, sans-serif;font-size:15px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#93a1a1;color:#002b36;background-color:#fdf6e3;}
.tg th{font-family:Arial, sans-serif;font-size:15px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#93a1a1;color:#fdf6e3;background-color:#657b83;}
.tg .tg-my2{background-color:#f0f0f0;text-align:left;vertical-align:top}
.tg .tg-my1{text-align:left;vertical-align:top}
.tg .tg-you2{background-color:#f0f0f0;text-align:left;vertical-align:top}
.tg .tg-you1{text-align:left;vertical-align:top}
</style>
</head>

<body>
<div id="header-wrapper">
  <div id="header" class="container">
    <div id="logo">

      <h1><a href="/admin">직원 관리 시스템</a></h1>

      <span>By <a href="#">CENEMA</a></span>
    </div>
    <div id="menu">
      <ul>

        <li class="current_page_item"><a href="/admin/info" accesskey="1" title="">사원정보</a></li>

        <li><a href="/admin/sales" accesskey="2" title="">매 출</a></li>
        <li><a href="/admin/salary" accesskey="3" title="">급 여</a></li>
        <li><a href="/admin/rewards" accesskey="4" title="">근 태</a></li>
        <li><a href="/admin/vacation" accesskey="5" title="">휴 가</a></li>
      </ul>
    </div>
  </div>
</div>

	<div id="ebox1">
		<a href="#" class="button">사원정보</a>
	</div>

<table class="tg" width="90%" style="table-layout:fixed" align="center">
  <tr>
    <th class="tg-my1">ID</th>
		<th class="tg-my1"></th>
    <th class="tg-my1">성명</th>
		<th class="tg-my1"></th>
  </tr>
  <tr>
    <td class="tg-my2">성별</td>
    <td class="tg-my2"></td>
    <td class="tg-my2">생년월일</td>
    <td class="tg-my2"></td>
  </tr>
  <tr>
    <td class="tg-my2">지점</td>
    <td class="tg-my2"></td>
    <td class="tg-my2">직위</td>
    <td class="tg-my2"></td>
  </tr>
  <tr>
    <td class="tg-my2">업무 이름</td>
    <td class="tg-my2"></td>
    <td class="tg-my2">업무 코드</td>
    <td class="tg-my2"></td>
  </tr>
  <tr>
    <td class="tg-my2">급여</td>
    <td class="tg-my2"></td>
    <td class="tg-my2">담당 매니저_ID</td>
    <td class="tg-my2"></td>
  </tr>
</table>

<div style="margin-top:10px;">
<table class="tg" width="90%" style="table-layout:fixed" align="center">
  <tr>
		<th class="tg-you1">ID</th>
		<th class="tg-you1"></th>
		<th class="tg-you1">성명</th>
		<th class="tg-you1"></th>
  </tr>
  <tr>
    <td class="tg-you2">성별</td>
    <td class="tg-you2"></td>
    <td class="tg-you2">생년월일</td>
    <td class="tg-you2"></td>
  </tr>
  <tr>
    <td class="tg-you2">지점</td>
    <td class="tg-you2"></td>
    <td class="tg-you2">직위</td>
    <td class="tg-you2"></td>
  </tr>
  <tr>
    <td class="tg-you2">업무 이름</td>
    <td class="tg-you2"></td>
    <td class="tg-you2">업무 코드</td>
    <td class="tg-you2"></td>
  </tr>
  <tr>
    <td class="tg-you2">급여</td>
    <td class="tg-you2"></td>
    <td class="tg-you2">담당 매니저_ID</td>
    <td class="tg-you2"></td>
  </tr>
</table>
</div>

<form>
	<h1 style="color:white;font-size:15px">
	<input type="radio" name="check" value="ID" checked>
	ID
	<input type="radio" name="check" value="성명">
	이름
	<input type="text" name="inputbar" size="12">
	<input type="submit" value="조회">
</h1>
</form>


</body>

</html>
