<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel='stylesheet' href='/stylesheets/index.css' />
	<link rel='stylesheet' href='/stylesheets/login.css' />
</head>
<body>
	<div id="Nav">
  			<h1 id="logo">Cinema</h1>
	</div>
	
	<div id="Content">
		<div id="Login">
			<h2>Sign In</h2>
			<form  id ="Login-form"method="Get" action='/'>
				<label for ="id">ID </label>
				<input id="id" type="text" name="name" value="manager"/ > 
				<label for ="id">Password  </label>
				<input id = "password" type ="password" />
				<input type="submit"/>
			</form>
			<div id="Login-footer">
				<ul>
					<li>아이디찾기</li>
					<li>비밀번호찾기</li>
				</ul>
			</div>
		</div>
	</div>


	<div id="Menu" class="hidden">
		<h2>예매내역</h2>
		<h2>쿠폰</h2>
		<h2>건의</h2>
	</div>

	<script type="text/javascript" src="/javascripts/index.js"></script>
</body>
</html>