<!DOCTYPE html>
<html>
<head>
	<title></title>
		<link rel='stylesheet' href='/stylesheets/index.css' />
		<link rel='stylesheet' href='/stylesheets/payment.css' />
</head>
<body>
	<% include nav %>
	<div id="Content">

		<form action="#" method="Post">
			<div id="Reservation-Info">
				<h3>Reservation</h3>
				<div><p>movie_name:</p></div>
					<div><p>cinema"</p></div>
					<div><p>date:</p></div>
					<div><p>screen:</p></div>
					<div><p>seats:</p></div>
					<div><p>cost:</p></div>
			</div>
			
			<ul id="Cuppon-list">
				<h3>Cuppon List</h3>
				<p>보유하신 쿠폰이 없습니다.</p>
				<li><label><input type="checkbox"/>쿠폰1</label></li>
				<li><label ><input type="checkbox"/>쿠폰2</label></li>
			</ul>
			<ul id="Payment-methods">
				<h3>Payment method</h3>
				<li><label><input type="radio" name="pay_method"/>신용카드</label></li>
				<li><label><input type="radio" name="pay_method"/>휴대폰결제</label></li>
				<li><label><input type="radio" name="pay_method"/>계좌이체</label></li>
				<li><label><input type="radio" name="pay_method"/>간편결제</label></li>
			</ul>
			<div id="Payment">
				<h3>Pay</h3>
				<p>Tickets Price: <span>8000</span>원</p>
				<p>Discounts : <span>3000</span>원</p>
				<p>Total : <span>3000</span>원</p>
			<input type="submit" value="Check out!"/>
			</div>
		</form>
	</div>
	<% include menu %>
	<script type="text/javascript" src="/javascripts/index.js"></script>
</body>
</html>