<!DOCTYPE html>
<html>
<head>
	<title></title>
		<link rel='stylesheet' href='/stylesheets/index.css' />
		<link rel='stylesheet' href='/stylesheets/payment.css' />
</head>
<body>
	<% include nav %>
	<div id="Content">

		<form action="#" method="Post">
			<div id="Reservation-Info">
				<h3>Reservation</h3>
				<div><p>movie_name:</p></div>
					<div><p>cinema"</p></div>
					<div><p>date:</p></div>
					<div><p>screen:</p></div>
					<div><p>seats:</p></div>
					<div><p>cost:</p></div>
			</div>
			
			<ul id="Cuppon-list">
				<h3>Cuppon List</h3>
			</ul>
			<ul id="Payment-methods">
				<h3>Payment method</h3>
				<li><label><input type="radio" name="pay_method" value="신용카드"/><h5>신용카드</h5>
						<select>
							<option>신한카드</option>
							<option>BC카드</option>
							<option>국민카드</option>
							<option>현대카드</option>
							<option>우리카드</option>
						</select>
				</label>
				</li>
				<li><label><input type="radio" name="pay_method" value="휴대폰결제" /><h5>휴대폰결제</h5>
					<select>
						<option>payco</option>
						<option>카카오페이</option>
						<option>카카오페이</option>
						<option>카카오페이</option>
					</select>
				</label>
				</li>
				<li><label><input type="radio" name="pay_method" value="계좌이체"/><h5>계좌이체</h5></label></li>
				<li><label><input type="radio" name="pay_method" value="간편결제" /><h5>간편결제</h5></label></li>
			</ul>
			<div id="Payment">
				<h3>Pay</h3>
				<p>Tickets Price: <span id="price">8000</span>원</p>
				<p>Discounts : <span id="discounts">3000</span>원</p>
				<p>Total : <span id="total_price">3000</span>원</p>
			<input type="submit" value="Check out!"/>
			</div>
		</form>
	</div>
	<% include menu %>
	<script type="text/javascript" src="/javascripts/index.js"></script>
	<script type="text/javascript" src="/javascripts/payment.js"></script>
</body>
</html>