<!DOCTYPE html>
<html>
<head>
	<title></title>
		<link rel='stylesheet' href='/stylesheets/index.css' />
		<link rel='stylesheet' href='/stylesheets/payment.css' />
</head>
<body>
	<% include nav %>
	<div id="Content"></div>
	<% include menu %>
	<script type="text/javascript" src="/javascripts/index.js"></script>
</body>
</html>