<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel='stylesheet' href='/stylesheets/index.css' />
	<link rel='stylesheet' href='/stylesheets/login.css' />
</head>
<body>
	<div id="Nav">
  			<h1 id="logo">Cenema</h1>
	</div>
	
	<div id="Content">
		<div id="Login">
			<h2>Sign Up</h2>
			<form  class ="Login-form"method="post" action='/register'>
				<label for ="id">ID 
				<input id="id" type="text" name="username"/> 
				</label>
				<label for ="password">Password 
				<input id = "password" name="password" type ="password"/>
				</label>
				<label for ="pwdcon">Password Confirm 
				<input id = "pwdconf" name="pwdconf" type ="password"/>
				</label>
				<label for ="birth">BIRTH 
				<input id="birth" type="text" name="birth"/> 
				</label>
				<label for ="sex">SEX 
				<input id = "sex" name="sex"/>
				</label>
				<label for ="id">ADDRESS 
				<input id="address" type="text" name="address"/> 
				</label>
				<input type="submit" value="SIGN UP"/>
			</form>
		</div>
	</div>


	<script type="text/javascript" src="/javascripts/index.js"></script>
</body>
</html>