<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel='stylesheet' href='/stylesheets/index.css' />
	<link rel='stylesheet' href='/stylesheets/login.css' />
</head>
<body>
	<div id="Nav">
  			<h1 id="logo">Cinema</h1>
	</div>
	
	<div id="Content">
		<div id="Login">
			<h2>Sign Up</h2>
			<form  id ="Login-form"method="post" action='/register'>
				<label for ="id">ID </label>
				<input id="id" type="text" name="username"/> 
				<label for ="password">Password </label>
				<input id = "password" name="password" type ="password"/>
				<label for ="pwdcon">Password Confirm </label>
				<input id = "pwdconf" name="pwdconf" type ="password"/>
				<label for ="birth">BIRTH </label>
				<input id="birth" type="text" name="birth"/> 
				<label for ="sex">SEX </label>
				<input id = "sex" name="sex"/>
				<label for ="id">ADDRESS </label>
				<input id="address" type="text" name="address"/> 
				<input type="submit" value="SIGN UP"/>
			</form>
		</div>
	</div>


	<div id="Menu" class="hidden">
		<h2>예매내역</h2>
		<h2>쿠폰</h2>
		<h2>건의</h2>
	</div>

	<script type="text/javascript" src="/javascripts/index.js"></script>
</body>
</html>