<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<div id="Nav">
		<h1 id="logo">Cinema</h1>
		<div id="login">
			<img src="" />
			<h4 id="user_name"></h4>
		</div>
		<div id="menu">
			
		</div>
	</div>


</body>
</html>