<!DOCTYPE html>
<html>
  <head>
    <title> title </title>
    <link rel='stylesheet' href='/stylesheets/index.css' />
    <link rel='stylesheet' href='/stylesheets/home.css' />
  </head>

  <body>
  		<div id="Nav">
  			<h1 id="logo">Cinema</h1>
  			<div id="login">
          <div id="user_container">   
            <img src="https://www.booksie.com/files/profiles/22/mr-anonymous_230x230.png" /> 
          <% if(logined) { %>
              <h4 id="user_name"> <%=username%> </h4> 
          <% } else { %>
            <h4 id="user_name"> SIGN IN </h4> 
          <% } %>            
          </div> 
          </div> 
          <% if(logined) { %>
            <div id="menu_icon"> 
              <h4>menu</h4>
            </div>
          <% } %>
  		</div>

      <div id="Content-background">
        <div id="Content-background-img">
          <p>.</p>
        </div>
      </div>
      
  		
  			
        <div id="Cinema">
          <h4 id="goReservation"> Reservation</h4>
  			</div>

  		</div>


		<div id="Menu" class="hidden">
			<h2>예매내역</h2>
			<h2>쿠폰</h2>
			<h2><a href="/suggestion">건의</a></h2>
		</div>
  		<script type="text/javascript" src="/javascripts/index.js"></script>
  		<script type="text/javascript" src="/javascripts/home.js"></script>
  </body>
</html>
