.none {
    display: none;
}
/* -------------------------- adminIndex ---------------------------- */

#Login {
    /*Layout*/
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    /*Apperance*/
    width: 90vw;
    min-height: calc(100vh/3*2); 
    z-index: 3;
}
  
#Login-form {
    /*Layout*/
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    /*Apperance*/
    min-height: 40vh;
    margin : 0 auto; 
    color: white;
    font-weight: bolder;
}
  
#Login-form > input[type=text],
#Login-form > #password{
    background: none;
    border: 1px solid #fff;
    border-radius: 5px;
    color: #fff;
    font-size: 1em;
    font-weight: bold;
    padding: 0.6em 0.8em;
}

#Login-form > input[type=submit] {
    background: none;
    border: 1px solid #fff;
    border-radius: 5px;
    color: #fff;
    font-size: 1em;
    font-weight: bold;
    margin: 0.1em;
    padding: 0.5em 0.7em;
  }

#Login-form > input[type=submit] :hover {
    color: #002b36;
    background-color: #93a1a1;
}



#addEmployee > button,
#addEmployee > button::after {
  -webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
  -o-transition: all 0.2s;
	transition: all 0.2s;
}

#addEmployee > button {
  background: none;
  border: 1px solid #fff;
  border-radius: 10px;
  color: #fff;
  font-size: 0.8em;
  font-weight: bold;
  margin-left: 5%;
  margin-bottom: 20px;
  padding: 0.5em 0.8em;
}
#addEmployee > button:hover {
  color: #e6e9eea9;
}

#myModal > input[type=submit] {
    background: none;
    border: 1px solid ;
    border-radius: 5px;
    color: #fff;
    font-size: 0.6em;
    font-weight: bold;
    margin-top: 0.6em;
    margin-bottom: 0.6em;
    padding: 0.6em 1em;
}

#employee_name > input[type=text] {
    background: none;
    border: 1px solid #002b36;
    border-radius: 5px;
    color: #002b36;
    font-size: 0.9em;
    font-weight: bold;
    margin-top: 0.6em;
    margin-bottom: 0.6em;
    padding: 0.6em 1em;
}

#phone_number > input[type=text] {
    background: none;
    border: 1px solid #002b36;
    border-radius: 5px;
    color: #002b36;
    font-size: 0.9em;
    font-weight: bold;
    margin-top: 0.6em;
    margin-bottom: 0.6em;
    padding: 0.6em 1em;
}

#join_date > input[type=text] {
    background: none;
    border: 1px solid #002b36;
    border-radius: 5px;
    color: #002b36;
    font-size: 0.9em;
    font-weight: bold;
    margin-top: 0.6em;
    margin-bottom: 0.6em;
    padding: 0.6em 1em;
}

#cinema_id > input[type=text] {
    background: none;
    border: 1px solid #002b36;
    border-radius: 5px;
    color: #002b36;
    font-size: 0.9em;
    font-weight: bold;
    margin-top: 0.6em;
    margin-bottom: 0.6em;
    padding: 0.6em 1em;
}

#employee_rank > input[type=text] {
    background: none;
    border: 1px solid #002b36;
    border-radius: 5px;
    color: #002b36;
    font-size: 0.9em;
    font-weight: bold;
    margin-top: 0.6em;
    margin-bottom: 0.6em;
    padding: 0.6em 1em;
}

#save > input[type=submit]{
    background: none;
    border: 1px solid #002b36;
    border-radius: 5px;
    color: #002b36;
    font-size: 0.9em;
    font-weight: bold;
    margin-top: 0.6em;
    margin-bottom: 0.6em;
    padding: 0.6em 1em;
}

/* -------------------------- info ---------------------------- */

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    color: #002b36;
}

/* Modal Content/Box */
.modal-content {
    background-color: white;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 20%; /* Could be more or less, depending on screen size */                          
}
/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.tg-mvid > button {
    background: none;
    border: 1px solid #fff;
    border-radius: 5px;
    color: #fff;
    display: block;
    font-size: 0.1em;
    font-weight: bold;
    margin: 0.05em;
    padding: 0.5em 1em;
    right: 5%;
  }

.tg-mvid > button:hover {
    color: #002b36;
    background-color: #93a1a1;
}

.tg-valu{
    margin: auto;
    text-align: center;
}

/* -------------------------- sales ---------------------------- */
#pay{
    margin-left: 0.1%;
}

#search{
    margin-left: 5%;
    margin-top: 10px;
}

#lookup > input[type=text] {
    background: none;
    border: 1px solid #fff;
    border-radius: 5px;
    color: #fff;
    font-size: 0.6em;
    font-weight: bold;
    margin-left: 1em;
    padding: 0.6em 1em;
}

#lookup > input[type=submit] {
    background: none;
    border: 1px solid #fff;
    border-radius: 5px;
    color: #fff;
    font-size: 0.6em;
    font-weight: bold;
    margin-left: 1em;
    padding: 0.6em 1em;
  }

#lookup > input[type=submit]:hover {
    color: #002b36;
    background-color: #93a1a1;
}

#lookupResult > .tg1{
    margin-left: -0.6%;
}


/* -------------------------- salary ---------------------------- */

#ebox1{
    margin-left: 1%;
}


#schedule > button {
    background: none;
    border: 1px solid #fff;
    border-radius: 5px;
    color: #fff;
    display: block;
    font-size: 0.8em;
    font-weight: bold;
    padding: 0.5em 0.8em;
    margin-left: 1%;
  }

#schedule > button:hover {
    color: #002b36;
    background-color: #93a1a1;
  }
/* -------------------------- rewards ---------------------------- */

#registerVac > button{
    background: none;
    border: 1px solid #fff;
    border-radius: 5px;
    color: #fff;
    display: block;
    font-size: 0.8em;
    font-weight: bold;
    padding: 0.5em 0.8em;
    margin-left: 5%;
    margin-bottom: 1%;
}

#registerVac > button:hover {
    color: #002b36;
    background-color: #93a1a1;
}

.tg-myid > button {
    background: none;
    border: 1px solid #fff;
    border-radius: 5px;
    color: #fff;
    font-size: 0.1em;
    font-weight: bold;
    margin: 0.05em;
    margin-left: 1em;
    padding: 0.5em 1em;
  }

.tg-myid > button:hover {
    color: #002b36;
    background-color: #93a1a1;
}
/* -------------------------- vacation ---------------------------- */
