#Content {
	/*Layout*/
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	overflow-y: visible;
	padding-top: 10vh;
	/*Apperance*/
	color: #fff;
	/*Animation*/
}

#Content-background {
	/*Layout*/
	position: absolute;
	top: calc(100vh/6);
	/*Apperance*/
	content : ' ';
	width: 100vw;
	min-height: calc(100vh/3*2);
	/*padding : 0 10vw;	*/
	/*margin : 0 0 10vh;*/
	overflow : hidden;
	/*Animation*/
	transition-property: width;
	transition-duration: 0.5s;
	transition-timing-function: ease-in;
}

#Content-background.in-detail {
	/*min-height: calc(100vh/3*2); */

}

#Content-background-img{
	top: calc(100vh/6);
	/*Apperance*/
	content : ' ';
	width: 100vw;
	min-height: calc(100vh/3*2);
	/*padding : 0 10vw;	*/
	/*margin : 0 0 10vh;*/
	transform: scale(1.05);
	background-position : center;
	background-image : url(https://m.media-amazon.com/images/M/MV5BNGVjNWI4ZGUtNzE0MS00YTJmLWE0ZDctN2ZiYTk2YmI3NTYyXkEyXkFqcGdeQXVyMTkxNjUyNQ@@._V1_.jpg);
	filter :blur(10px);
}

#movie-filter {
	/*Layout*/
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	/*Apperance*/
	margin-left: 40vw;
	padding-left :0;
	width : 30vw;
	transform : translate(-50%,0);
	list-style: none;
	text-decoration: none;
	font-weight: bold;
}

#movie-filter > li:hover {
	color: red;
}

#Movie-chart {
	/*Layout*/
	position: relative;
	display: flex;
	flex-direction: row;
	overflow-x: scroll;
	overflow-y: hidden;
	/*Apperance*/
	width: 80vw;
	height: calc(100vh/3);
	min-height: calc(100vh/3);
	background-color: rgba(0,0,0,0.2);
	/*Animation*/
	transition-property: min-height;
	transition-duration: 0.1s;
	transition-timing-function: ease-in;
}

#Movie-chart.in-detail{
	overflow-x: hidden;
	min-height: calc(100vh/3*2); 
}

.movie{
	/*Layout*/
	position:relative;
	display: flex;
	flex-direction: row;
	align-items: center;
	/*Apperance*/
	min-width: 15vw;
	/*Animation*/
	transition-property: min-width;
	transition-duration: 0.3s;
	transition-timing-function: ease-in;
	order : 1;
}
.movie.selected{
	min-width: 50vw;
	order:-1;
}
.movie.selected.in-detail{
	min-width: 80vw;
}


.movie-image{
	position: absolute;
	left:0;
	width: calc(100vh/3*5/7);
	height : calc(100vh/3);
	background-color: rgba(255,255,1,0.2);
	box-shadow: 0 0 5vw rgba(0,0,0,0.5);	

}
.movie.selected.in-detail .movie-image{
	width: calc(100vh/3*2*5/7);
	height: calc(100vh/3*2)
}

#more{
	position: relative;
	content : ' ';
	width: 2.5vw;
	height: 100%;
	min-width: 2.5vw;
	min-height: 100%;
	background : url("/images/more.svg");
	background-size : 50%;
	background-position: center;
	background-repeat: no-repeat;
	mix-blend-mode: screen;
	z-index: 5;
	opacity: 0.2;
	order:0;
}

#more:hover{
	opacity: 0.5;
}

#more.in-detail{
	position: absolute;
	right :0;
	-webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

#more:hover{
	background-color: rgba(255,255,255,0.1);

}

#more.changing{
	width: 0;
	opacity: 0;
	order :5;
}

.movie_name{
	position: absolute;
	left: 50%;
	bottom: 0;
}
.movie .movie_name{
	left:0;
}

.movie.selected .movie_name {
	top:0;
	left: calc(100vh/3*5/7 + 5vw);
	font-size : 3rem;
}

.movie.selected.in-detail .movie_name {
	left: calc(100vh/3*2*5/7 + 5vw);
}

.Info{
	/*Layout*/
	position: absolute;
	display: flex;
	flex-direction: column;
	/*Apperance*/
	left : calc(100vh/3*5/7 + 5vw);
	bottom: 0;

	/*Animation*/	
}
.movie.selected.in-detail .Info {
	flex-direction: row;
	flex-wrap: wrap;
	margin-bottom: 10vh;
	left : calc(100vh/3*2*5/7 + 5vw);
}
.movie.selected.in-detail .Info > p{
	padding: 0.5rem;
}

#Cinema{
	display: flex;
	flex-direction: row;
	justify-content: flex-end;

	min-width: 80vw;
}

#goReservation{
	text-align: center;

	width: 10vw;
	padding:1.5vw;
	background-color: rgba(255,255,255,0.3);
}

#goReservation:hover{

	background-color: rgba(20,255,255,0.3);
}

::-webkit-scrollbar {
  width:0;
  height: 0;
}
	/*Layout*/
	/*Apperance*/
	/*Animation*/
