
body {
	position : relative;
	display: flex;
	flex-direction: column;

	padding: 0;
	margin : 0;
	width: 100vw;
	height: 100vh;
	overflow-x: hidden;
	background-color: #1f1f1f;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#Nav{

	 /*Layout*/
	 position: absolute;
	 top: 0;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	
	/*Appearance*/
	width: 100vw;
	height: calc(100vh/3);
	box-sizing: border-box;
	background-color: #1f1f1f;
	padding:  0 10vw;

	/*Animation*/
	transition-property: width;
	transition-duration: 0.5s;
	transition-timing-function: ease-in;
}

#Nav.menuOn{
	width: calc(100vw/3*2);
}

#logo{
	flex-grow: 5;
	font-size: 4.5rem;
	padding-right: 15vw;
	mix-blend-mode: screen;
	text-shadow :0 0 10px;
	color: rgb(215,215,215);
	z-index:5;
}

#login{
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	flex-grow: 1;

	opacity: 1;
}

#login.menuOn{
	opacity: 0;
}

#user_container {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;

	min-width: 5vw;
	padding : 0.5vh 1.5vh 0.5vh 0.5vh;
	border-radius: 6vh;
	color:white;
	font-size: 0.8rem;	
	text-shadow: 0 0 6px;	
	z-index: 5;
}

img {
	display: inline-block;
	height: 5vh;
	margin :1.2vh 2vh 0 1vh;
	clip-path: circle();
}

#menu_icon{
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	flex-grow: 1;
	z-index: 5;
	font-size: 0.8rem;
	text-shadow: 0 0 6px;
	color: rgb(251,251,251);
}

#Menu{
	/*Layout*/
	position: absolute;
	top:0;
	right: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;

	/*Appearance*/
	margin : 0;
	width: calc(100vw/3);
	height: 100vh;
	/*background-color: black;*/
	background-color: rgba(0,0,0,0.8);
	/*background-image: linear-gradient(-90deg,black,rgba(0,0,0,0,2));	*/
	background-image: linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,0.3),rgba(0,0,0,0.7),rgba(0,0,0,0.9), rgba(0,0,0,1));
	color : white;
	opacity : 1;
	/*box-shadow: 0 -5vw 5vw rgba(15,15,15,0.1);*/

	/*Animation*/
	transition-property: width, opacity;
	transition-duration: 0.5s;
	transition-timing-function: ease-in;
}

#Menu.hidden{
	width:0;
	opacity: 0;
}

#Content {
/*Layout*/
position: absolute;
top: calc(100vh/6);
/*Apperance*/
width: 100vw;
min-height: calc(100vh/3*2);
padding : 0 10vw;	
margin : 0 0 10vh;
/*Animation*/
transition-property: width;
transition-duration: 0.5s;
transition-timing-function: ease-in;
}


#Content.menuOn > div{
	width: 100vw;

	transition-property: width;
	transition-duration: 0.5s;
	transition-timing-function:ease-in;
}


#Content.menuOn, #Content.menuOn > div{
	width: calc(100vw/3*2 - 10vw);
}

body::-webkit-scrollbar {
  width:0;
  height: 0;
}

/*#content.menuOn > *{
	width: calc(100vw/3*2);
}
*/