body {
  background-color: #1f1f1f;
}

#Content{
  /*Layout*/
  display: flex;
  flex-direction: column;
  /*Apperance*/
  padding: 0 5vw;
}

#Login {
  /*Layout*/
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
/*Apperance*/
  width: 90vw;
  min-height: calc(100vh/3*2); 
  background-color: #3f3f3f;
  z-index: 3;
}

#Login-form {
  /*Layout*/
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  /*Apperance*/
  min-height: 40vh;
  margin : 0 auto; 
}

#Login-form > *{

}

#Login-footer > ul {
  /*Layout*/
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /*Apperance*/
  margin: 0;
  padding: 0;
  font-size: 0.5rem;
  color: white;
  list-style: none;
}

#Login-footer li {
  padding: 0.5rem;
  margin-left: 0.5rem;
  border : 1px solid white; 
  border-radius: 0.5rem;
}