#menu_nav {
	display: flex;
	flex-direction: row;
	justify-content: space-around;

	list-style: none;
	margin : 2vh 0 12vh 0;
	width: calc(100vw/9*2);
}

#menu_nav > li , #menu_nav  a{
	color: white;
	text-decoration: none;
}

#menu_nav:hover{
	border-bottom: 
}

#User_Info{
	display: flex;
	flex-direction: column;
	align-items: center;
	opacity: 1;
	transition-property: opacity;
	transition-duration: 0.5s;
	transition-timing-function: ease-in;
}

#User_Info.hidden{
	opacity: 0;
}

#User_Info img{
	width: 10vh;
	height: 10vh;

}


#reservation_list_container{
	opacity: 1;
}

.reservation_list_item{
	position: relative;
	display: flex;
	flex-wrap: wrap;
	width: 30vw;
	height: 30vh;
	margin : 3vh 3vw;
	padding: 1vh 1vw;
	box-sizing: border-box;
	border-bottom:1px solid white;
	border-top:1px solid white;
}

.reservation_list_item > span{
	padding: 0.2rem;
}
.movie_image{
	position: absolute;
	top:0;
	left: 0;
	content: ' ';
	width: calc(30vh/7*5);
	height:30vh;
	background-color: rgba(255,255,255,0.2);
}

.reservation_list_item .Info {
	position: absolute;
	right: 0;
	top:0;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	width: 18vw;
	height: 30vh;
	font-size: 0.8rem;
}
.reservation_no{
	/*position: absolute;*/
}
.reservation_list_item .movie_name{
	position: relative;
	padding-left: 0;
	margin: 0.5rem 0 2vh 0 ;
	font-weight: bold;
	font-size: 1rem;

}
.cinema_branch{
	/*position: absolute;*/
}
.screen_no{
	/*position: absolute;*/
}
.date{
	/*position: absolute;*/
}
.showing_start_time{
	/*position: absolute;*/
}
.showing_end_time{
	/*position: absolute;*/
}
.seat_no{
	/*position: absolute;*/
}
.payment_amount{
	/*position: absolute;*/
}
.reservation_list_item div.cancel{
	position: absolute;
	bottom: 3vh;
	right: 9vw;
	width: 10vw;
	padding: 0.2rem;
	text-align: center;
	transform: translateX(50%);
	background-color: red;
}

div.cancel > * {
	margin: 0 auto;
}




#reservation_list_container.hidden{
	width: 0;
	height: 0;
	opacity: 0;
}


#cuppon_list_container {
	list-style: none;
	opacity: 1;
}

.cuppon-item{
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	width: 25vw;
	height: 20vh;
	margin : 3vh 3vw;
	padding: 1vh 1vw;
	box-sizing: border-box;
	border-bottom:1px solid white;
	border-top:1px solid white;
}

.cuppon-item > h5{
	margin: 0;
}

#cuppon_list_container.hidden{
	margin: 0;
	width:0;
	height: 0;
	opacity:0;
}