body {
  background-color: #1f1f1f;
}

#Content{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;  
  align-items: flex-start;
  flex-wrap: wrap;
  width:80vw;
  padding: 0 10vw;
  background-color: black;
  color: white;
}

#movie-container{
  display: flex;
  flex-direction: column;
  /*justify-content: space-between;*/
  width: 30vw;
  margin : 5vh 0;
}

#movie-container  ul {
  list-style: none;
}
#movie-container > ul{
  display: flex;
  flex-direction: row;
  /*justify-content: space-between;*/
  overflow-x: scroll;
  /*flex-grow: 1;*/
}
#movie-cotainer > h4{
  /*flex-grow : 0;*/
}

#cinema-list > li,
#date-list > li,
#screen-list >ul >li {
  text-align: center;
  min-width: 3.5rem;
  height: 1rem;
  padding: 0.5rem;
  margin: 0.5rem;
  border : 1px solid white;
  border-radius: 0.5rem;
  font-size :0.8rem;
}

#screen-list >ul {
  position: relative;
  display: flex;
  flex-direction: row;
  margin-top : 1rem;
}

#screen-list > ul > h5{
  width: 2rem;
}

#screen-list >ul > h5::after {
  content: "관";
  font-size: 0.5rem;
  width : 1rem;
  color: white;
}

#screen-list > ul > li,
#screen-list > ul > li >h6{
  margin-top :0;
  min-width: 0;
}

#movie-list > li{
  min-width: 10vw;
  height: 14vw;
  margin-right: 1vw;
  background: linear-gradient(140deg, rgba(245,245,245,1), rgba(125,125,125,1));
  text-align:center;
  color: black;

}


#Seats-container {
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x:visible;
    overflow-y: visible;
    color:white;
}

#Seats-container > * {
  margin-top: 5vh;
}

#Seats-container > h4 {
  font-size: 2rem;
  margin: 0;
  padding: 0;
}

#seat_before {
  width: 30vw;
  background-color: rgba(240,240,240,0.2);
  padding: 2vh 5vw;
  box-sizing: border-box;
}
#seat_before > div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  transform: translateX(-3vw);
}
#seat_before > div > *{
  margin: 1vh 0;
}
#seat_info {
  width: 30vw;
  background-color: rgba(240,240,240,0.2);
  padding: 2vh 5vw;
  box-sizing: border-box;
}
#seat_info > div {
  display: flex;
  flex-direction: row;
}
#seat_info > div > *{
  margin: 1vh 0;
}

#Seats{
  width: 50vw;
  min-width: 500px;
  overflow-x: visible;
  position: relative;  
}

#screen{
  position: absolute;
  top:0;
  width: 50vw;
  min-width: 500px;
 min-height: calc(50vw/ 16*9);
  /*height: calc(70vw/3*2);*/
  background-image: url("/images/screen.png");
  background-size : cover;
  background-repeat:no-repeat;
  background-overflow:visible;
}

#SeatChart{
  margin-top: calc(50vw/16*9*1/3);
}
.seat-row{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 1vh;
}
.seat {
  display: inline-block;
  width:18px;
  min-height: 18px;
  margin : 1px;
  background-image:url("/images/seats.png");
  background-size: cover;
  z-index: 2;
}
.seat:hover{
    background-color: red;
}
.empty_seat {
  display: inline-block;
  width: 18px;
  margin:1px;
  min-height: 18px;
}