body {
  background-color: #1f1f1f;
}

#Content{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;  
  align-items: flex-start;
  flex-wrap: wrap;
  width:80vw;
  padding: 0 10vw 15vh;
  background-color: black;
  color: white;
}

#movie-container{
  display: flex;
  flex-direction: column;
  /*justify-content: space-between;*/
  width: 45vw;
  margin : 5vh 0;
}

#movie-container  ul {
  list-style: none;
}
#movie-container > ul{
  display: flex;
  flex-direction: row;
  /*justify-content: space-between;*/
  overflow-x: scroll;
  padding-bottom: 2vh;
  /*flex-grow: 1;*/
}
#movie-cotainer > h4{
  /*flex-grow : 0;*/
}

#movie-container > ul::-webkit-scrollbar{
  height : 1vh;
  min-height: 10px;
}
#movie-container > ul::-webkit-scrollbar-track{
    background: radial-gradient(rgba(255,255,255,1),rgba(255,255,255,0),  rgba(255,255,255,0));

}

#movie-container > ul::-webkit-scrollbar-thumb{
  width: 2vw;
  background: url("/images/scrollthumb1.svg");
  background-repeat: no-repeat;
  background-size: 1rem;
  background-position: center;
}
#screen-list>ul>.selected>h6{
  color:black;
}
#screen-list>ul>.selected>.left{
  color:white;
}
.selected{ 
  background-color: #bfff00;
  opacity: 0.7;
  border-color: black;
  color:black;
}
.selected>h6{
  color:white;
}
.non{
  background-color : red;
}

  
#region-list > li,
#cinema-list > li,
#date-list > li,
#screen-list >ul >li {
  text-align: center;
  min-width: 3.5rem;
  height: 1rem;
  padding: 0.5rem;
  margin: 0.5rem;
  border : 1px solid white;
  border-radius: 0.5rem;
  font-size :0.8rem;
}

#region-list :hover,
#cinema-list :hover,
#date-list :hover{
  background-color: #bfff00;
  color: black;
  opacity: 0.7;
}

#cinema-list > li{
  width: 5rem;
}

#movie_name{
  visibility: hidden;
}

#screen-list >ul {
  position: relative;
  display: flex;
  flex-direction: row;
  margin-top : 1rem;
}

#screen-list > ul > h5{
  width: 2rem;
}

#screen-list >ul > h5::after {
  content: "ê´€";
  font-size: 0.5rem;
  width : 1rem;
  color: white;
}

#screen-list > ul > li,
#screen-list > ul > li >h6{
  margin-top :0;
  min-width: 0;
}

#movie-list > li{
  min-width: 10vw;
  max-width : 10vw;
  height: 14vw;
  margin-right: 1vw;
  background: linear-gradient(140deg, rgba(245,245,245,1), rgba(125,125,125,1));
  background-size: 10vw 14vw;
  text-align:center;
  color: black;

}

#RE > input[type=submit]{
  border: 1px solid white;
  background-color: rgba(163, 128, 128, 0.158);
  padding: 0.2rem;
  margin-right: 0.3rem;
  color: white;
  border-radius: 5px;
}

#RE > input[type=submit] button:hover {
  color: black;
  background-color: rgba(255, 255, 255, 0.89);
}

#select_form > input[type=submit]{
  border: 1px solid white;
  background-color: rgba(163, 128, 128, 0.158);
  padding: 0.2rem;
  margin-left: 0.5rem;
  color: white;
  border-radius: 5px;
}

#select_form > input[type=submit] button:hover{
  color: black;
  background-color: rgba(255, 255, 255, 0.89);
}


#Seats-container {
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x:visible;
    overflow-y: visible;
    color:white;
}

#Seats-container > #reservation_info{
  border-radius: 10px;
}
#Seats-container > * {
  margin-top: 5vh;
  
}

#Seats-container > h4 {
  font-size: 2rem;
  margin: 0;
  padding: 0;
}

#seat_before {
  /* overflow : scroll; */
  width: 30vw;
  background-color: rgba(240,240,240,0.2);
  padding: 2vh 5vw;
  box-sizing: border-box;
  border-radius: 10px;
  border: 1px solid white;
}

#seat_before > ul {
  width : 26vw;
  list-style: none ;
  padding : 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  transform: translateX(-3vw);
}
#seat_before > ul > *{
  margin: 1vh 0;
}
#reservation_info {
  margin-left : 30px;
  width: 30vw;
  background-color: rgba(240,240,240,0.2);
  padding: 2vh 5vw;
  box-sizing: border-box;
  border: 1px solid white;

}
#reservation_info > div {
  display: flex;
  flex-direction: row;
}
#reservation_info > div > *{
  margin: 1vh 0;
}
.reservation_result > #reservation_info{
  position : absolute;
  right : 15%;
  top: 23%;
  border-radius: 10px;
}

#Seats{
  width: 50vw;
  min-width: 500px;
  overflow-x: visible;
  position: relative;  
  margin-top: 10%;
}

#Seats-container > #seats_before{
  border-radius: 10px;
}
#Seats-container > #Seats_screen{
  position: absolute;
  margin-top: -420px;
}

#screen{
  position: absolute;
  top:0;
  width: 50vw;
  min-width: 500px;
 min-height: calc(50vw/ 16*9);
  /*height: calc(70vw/3*2);*/
  background-image: url("/images/screen.png");
  background-size : cover;
  background-repeat:no-repeat;
  background-overflow:visible;
}

#SeatChart{
  margin-top: calc(50vw/16*9*1/3);
}
.memset > p{
  width : 3vw;
}
.memset >li{
  text-align: center;
  min-width: 0.7rem;
  height: 0.7rem;
  padding: 0.5rem;
  margin: 0.1rem;
  border : 1px solid white;
  border-radius: 0.5rem;
  font-size :0.7rem;
}
.seat-row{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 1vh;
}
.seat {
  text-align: center;
  display: inline-block;
  width:24px;
  min-height: 24px;
  margin : 1px;
  color : black;
   background-image:url("/images/seats.png"); 
  /*background-color: white;*/
  background-size: cover;
  z-index: 2;
}
.seat:hover{
    background-color: gray;
}
.empty_seat {
  text-align: center;
  display: inline-block;
  width: 24px;
  margin:1px;
  min-height: 24px;
}
.select_seat{
  filter :opacity(.5) drop-shadow(0 0 0 red);
}
.disable{
  opacity: 0.3;
}

#goPayment {
  position: absolute;
  bottom: 25%;
  right: 15%;
  width: 15vw;
  padding:1.5vw;
  text-align: center;
  background-color : rgba(240,240,240,0.2);
  color: white;
  border-radius: 10px;
}

#goPayment:hover {

    background-color: rgba(255, 255, 255, 0.863);
    color: black;
    border: 1px solid rbga;
    border-color: black;
}
